<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="allastro.horoscopedaily.check">

    <application
        android:name=".MyHoroscopeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <receiver
            android:name="com.adjust.sdk.AdjustReferrerReceiver"
            android:permission="android.permission.INSTALL_PACKAGES"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <activity android:name=".activities.CharacteristicActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.LuckyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.SplashAdsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AdsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ZodiakActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MatchResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MatchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CookieActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MagicBallActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1551583946713280~5521193609" />
    </application>

</manifest>